.apple-swiper {
  :global(.swiper-wrapper) {
    transition-timing-function: cubic-bezier(0.8, 0, 0.45, 0.91) !important;
  }
}

.apple-slide {
  width: auto;
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  @include media(">=apple-tablet") {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.prev {
  &::after {
    top: 0;
    left: 20px;
    background: url("/images/arrows/arrow-back.svg") no-repeat center;

    @include media(">=apple-phone") {
      left: 40px;
    }
  }
}

.next {
  right: 0;

  &::after {
    top: 0;
    left: -38px;
    background: url("/images/arrows/arrow-forward.svg") no-repeat center;

    @include media(">=apple-tablet") {
      left: -64px;
    }
  }
}

.pagination {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    background: var(--rgba-color-black-30);
    opacity: 1;
    margin: 0 8px !important;
  }

  :global(.swiper-pagination-bullet-active) {
    background: #000;
  }
}
