/* Medium Devices, Desktops Only */
/* Targtes on Chrome, Edge, and Safari */
@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--color-neutral-200);
  }

  ::-webkit-scrollbar:hover {
    background-color: var(--color-neutral-400);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-800);
    transition:
      background-color 0.2s linear,
      width 0.2s;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: 999px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-neutral-200);
  }
}
