/* Medium Devices, Desktops Only */
/* Targtes on Chrome, Edge, and Safari */
@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.06);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: #ffd859;
    transition:
      background-color 0.2s linear,
      width 0.2s;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: 999px;
  }

  ::-webkit-scrollbar-track {
    background: #101927;
  }
}
