.card {
  position: relative;
  width: 274px;
  height: 495px;

  @include media(">apple-tablet") {
    width: auto;
    height: 367px;
  }

  @include media(">tablet-lg") {
    height: 523px;
  }

  @include media(">apple-desktop") {
    height: 667px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background: linear-gradient(var(--rgba-color-black) 50%, var(--rgba-color-black-70)),
      linear-gradient(
        180deg,
        var(--rgba-color-black-40) 0%,
        var(--transparent) 200px
      );

    @media screen and (min-width: 735px) {
      background: radial-gradient(
        100% 33% at left bottom,
        var(--rgba-color-black-50) 0%,
        var(--transparent)
      );
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      transition: background 0.7s;
    }

    &--lat::after {
      background: var(--rgba-color-white-70);
    }

    &--top {
      @include media(">apple-tablet") {
        display: none;
      }

      &--header {
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
      }

      &--title {
        text-align: center;

        &__img {
          object-fit: contain;
        }
      }
    }

    &__bottom {
      display: flex;
      opacity: 0;
      flex-direction: column;
      gap: 12px;
      margin-top: auto;

      transition: all 0.8s;
      transition-delay: 0.25s;
      transition-timing-function: cubic-bezier(0.8, -0.04, 0.64, 0.82);

      @include media(">apple-tablet") {
        flex-direction: row-reverse;
        padding-inline: 24px;
        gap: 18px;
        align-items: center;
        justify-content: flex-end;
      }

      &--active {
        opacity: 1;
        transform: translateY(-32px);
      }

      &--content {
        text-align: center;
        padding-inline: 12px;
        color: #f5f5f7;
        font-size: 15px;

        @include media(">apple-tablet") {
          text-align: start;
          max-width: 60%;
          font-size: 17px;
          padding-inline: 0;
          text-shadow: 0px 0px 5px var(--rgba-color-black-60);
        }

        &__genre {
          display: block;
          font-weight: 700;
          margin-bottom: 4px;

          @include media(">apple-tablet") {
            display: inline;
          }
        }

        &__dot {
          display: none;

          @include media(">apple-tablet") {
            display: inline;
            margin-inline: 6px;
          }
        }

        &__title {
          font-weight: 400;
        }
      }

      &--cta {
        font-size: 14px;
        background: #f5f5f7;
        color: var(--color-black);
        width: max-content;
        display: flex;
        line-height: 1.42859;
        font-weight: 400;
        border-radius: 999px;
        min-width: 30px;
        padding: 7px 15px;
        margin: auto;

        @include media(">apple-tablet") {
          margin: 0;
        }
      }
    }
  }
}
