@use "sass:map";

$default-colors: (
  --color-white: #ffffff,
  --color-black: #000000,
);

$colors: map.merge(
  $default-colors,
  (
    // Primary colors
    --color-primary: #101927,
    // Secondary colors
    --color-secondary: #06c445,

    --color-primary-100: #f6f7fa,

    // Status colors
    --color-warning: #ffb82e,
    --color-success: #06c270,
    --color-error: #ff3b3b,
    --color-info: #086fdd,

    // Text colors
    --color-text-primary: #0a1322,

    // Opacity colors
    // Disabled colors
    --color-disabled: #dbdfdd,

    // Neutral colors
    // Add your custom colors here
  )
);
